<div class="container">
    <div class="left">
        <h4 id="contact">Contact :</h4>
        <div>
            1 rue address<br>
            XX000 Departement<br>
            06 XX XX XX XX
        </div>
    </div>
    <div class="right">
        <a target="_blank" rel="noopener noreferrer" href="https://www.google.fr/maps/place/IMT+Atlantique/@48.1197215,-1.6269128,16.25z/data=!4m5!3m4!1s0x480edec31a08f20b:0xd4eebe78f19117fe!8m2!3d48.1202701!4d-1.6286372">
            <img src="../../assets/maps.png" alt="maps">
        </a>
    </div>

</div>