*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    
}

@font-face {
    font-family: 'Panamera';
    font-weight: 500;
    src: url('../src/font/Panamera-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Panamera';
    font-weight: 400;
    src: url('../src/font/Panamera-Light.woff2') format('woff2');
}

:root{  
    
    //--font-text: "Lambda";
    --font-text: "Panamera";
    --font-secondary: "Consulate";
    --primary: black;
    --secondary: #FFF;
}

a {
    text-decoration: unset;
    color: unset;
    cursor: pointer;
    font-family: unset;
}

