*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    
}

html {
    scroll-behavior: smooth;

}

@font-face {
    font-family: 'Panamera';
    font-weight: 500;
    src: url('../src/font/Panamera-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Panamera';
    font-weight: 400;
    src: url('../src/font/Panamera-Light.woff2') format('woff2');
}

:root{  
    
    //--font-text: "Lambda";
    --font-title: "Panamera";
    --font-secondary: "Consulate";
    --primary: black;
    --secondary: #FFF;
}

a {
    text-decoration: unset;
    color: unset;
    cursor: pointer;
    font-family: unset;
}

.margin {
    margin-left: 4rem;
    margin-right: 4rem;
}

@media screen and (max-width: 1100px) {
    .margin {
        margin-left: 2rem!important;
        margin-right: 2rem!important;
    }
}

@media screen and (max-width: 600px) {
    .margin {
        margin-left: 1rem!important;
        margin-right: 1rem!important;
    }
}
