<div class="container">
    <div class="modal">
        <h5>Réservation</h5>
        
        <div class="input-container">    
            <label for="name">Nom : </label>
            <input title="nom" type="text" name="nom">
        </div>
        <div class="input-container">    
            <label for="name">Prenom : </label>
            <input title="nom" type="text" name="nom">
        </div>
        <div class="input-container">    
            <label for="name">Content : </label>
            <input title="nom" type="text" name="nom">
        </div>
    </div>
    <div class="modalBg" (click)="deleteRequest()"></div>
</div>
